/*覆盖样式*/
.block{
  width: 700px;
  margin: 30px auto;
}

/*播放器*/
.aplayer{
  width: 326px;
  border-radius: 10px;
  position: absolute !important;
  right: 5px;
  top: 5px;
  transition: all 1s;
}
.al_fh{
  position: absolute;
  left: 0;
  top: 0;
}

/*qq提示按钮*/
.el-button{
  background: transparent !important;
  position: absolute;
  top: 0;
  right: 190px;
  height: 50px;
  font-size: 16px !important;
  border: 1px transparent solid !important;
  color: #fff !important;
}
.el-button:hover{
  border: 1px transparent solid !important;
  color: salmon !important;
}
.j_wx{
  position: absolute;
  background: transparent !important;
  position: absolute;
  top: 0;
  right: 50px;
  height: 50px;
  font-size: 16px !important;
  border: 1px transparent solid !important;
}

/*home轮播组件*/
.el-carousel__item .al_bg {
  width: 409px;
  height: 360px;
  overflow: hidden;
}
.el-carousel{
  width: 1200px;
  background: rgba(245, 239, 239, 0.3);
  border-radius: 8px;
}
.el-carousel__indicators--outside button{
  background-color: gray;
}
.el-carousel__container{
  height: 360px !important;
}

/*日历组件*/
.wh_container{
  background: rgba(0,0,0,.2) !important;
  border-radius: 10px;
}
.wh_content_all{
  background: rgba(0,0,0,.2) !important;
  border-radius: 10px;
}
.wh_isToday{
  background: green !important;
}
.wh_container{
  background: gray;
}

/*微语布局header组件*/
.el-header{
  width: 1150px;
  height: 13%;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  /* border: 1px red solid; */
  margin-top: 30px;
  padding: 0;
}

/*微语布局main组件*/
.el-main{
  width: 1150px;
  height: 68%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px red solid;
  padding: 0;
}
/*微语布局foot组件*/
.el-footer{
  width: 1150px;
  height: 13%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px red solid;
  padding: 0;
}
/*日期选择*/
.el-header{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
.el-input__inner{
  background: rgba(0,0,0,.2);
}
.el-date-editor .el-range-separator{
  color: #606266;
}
.el-date-editor .el-range-input{
  background: rgba(0,0,0,.2);
}